<section class="pgl-featured pgl-bg-grey">
			<div class="container">
				<h2>Past Events</h2>
					<div class="row">
						<div class="col-md-6 animation">
							<div class="pgl-property featured-item">
								<div class="property-thumb-info">
									<div class="property-thumb-info-image">
										<img alt="" class="img-events" src="assets/event1.jpg">
									</div>
									<div class="property-thumb-info-content">
										<h3><a href="property-detail.html">Partnered with Startup Weekend</a></h3>
										<p>A lot of our mentors are there, lorem ipsum.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animation">
							<div class="pgl-property featured-item">
								<div class="property-thumb-info">
									<div class="property-thumb-info-image">
										<img alt="" class="img-events" src="assets/event2.jpg">
									</div>
									<div class="property-thumb-info-content">
										<h3><a href="property-detail.html">Partnered with Startup Weekend</a></h3>
										<p>Amet luctus nisl tempus.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animation">
							<div class="pgl-property featured-item">
								<div class="property-thumb-info">
									<div class="property-thumb-info-image">
										<img alt="" class="img-events" src="assets/event3.jpg">
									</div>
									<div class="property-thumb-info-content">
										<h3><a href="property-detail.html">Partnered with Next Academy</a></h3>
										<p>Amet luctus nisl tempus.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 animation">
							<div class="pgl-property featured-item">
								<div class="property-thumb-info">
									<div class="property-thumb-info-image">
										<img alt="" class="img-events" src="assets/event4.jpg">
									</div>
									<div class="property-thumb-info-content">
										<h3><a href="property-detail.html">Partnered with Next Academy</a></h3>
										<p>Amet luctus nisl tempus.</p>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<hr class="top-tall">
				</div>
			</section>