<section class="pgl-properties pgl-bg-grey">
				<div class="container">
					<h2>Mentors</h2>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs pgl-pro-tabs text-center animation" role="tablist">
						<li class="active"><a href="#all" role="tab" data-toggle="tab">All</a></li>
						<li><a href="#house" role="tab" data-toggle="tab">Business</a></li>
						<li><a href="#offices" role="tab" data-toggle="tab">Finance</a></li>
						<li><a href="#apartment" role="tab" data-toggle="tab">Developer</a></li>
						<li><a href="#residential" role="tab" data-toggle="tab">Designer</a></li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="all">
							<div class="row">
								<div class="col-xs-4 animation">
									<div class="pgl-property">
										<div class="property-thumb-info">
											<div class="property-thumb-info-image">
												<img class="img-responsive" src="assets/cheylyeoh.png">
											</div>
											<div class="property-thumb-info-content">
												<h3><a href="property-detail.html">Cheryl Yeoh</a></h3>
												<address>Cheryl is a resourceful and versatile entrepreneur who looks to create meaningful impact with her products and is also passionate about helping other entrepreneurs.</address>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4 animation">
									<div class="pgl-property">
										<div class="property-thumb-info">
											<div class="property-thumb-info-image">
												<img class="img-responsive" src="assets/tony.jpg">
											</div>
											<div class="property-thumb-info-content">
												<h3><a href="property-detail.html">Tony Fernandes</a></h3>
												<address>Tony Fernandes,is a Malaysian entrepreneur. He is the founder of Tune Air Sdn. Bhd., who introduced the first budget no-frills airline, AirAsia, to Malaysians with the tagline "Now everyone can fly".</address>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xs-4 animation">
									<div class="pgl-property">
										<div class="property-thumb-info">
											<div class="property-thumb-info-image">
												<img class="img-responsive" src="assets/khaileeng.jpg">
											</div>
											<div class="property-thumb-info-content">
												<h3><a href="property-detail.html">Khailee Ng</a></h3>
												<address>Tech startup investor and founder. Managing Partner, 500 Startups. Co-founder of GroupsMore (acquired by Groupon) and SAYS.com (IPO:REV).</address>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</div>
					</div>
					
				</div>
			</section>